  .bg-image {
    filter: blur(8px);
    -webkit-filter: blur(7px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 20px 20px 20px 30px #000;
  }
  
.bg-text {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
    align-items: center;
  }
  .bg-text .logo-image{
    width: 300px;
    height: 300px;
  }
.bg-text .inputs{
    border: 2px solid #f1f1f1;
    padding: 20px;
    border-radius: 50px;
    width: 350px;
    height: 500px;
    backdrop-filter: blur(30px);
    background-image: linear-gradient(#0472e73a,#023c7a28);
}
.bg-text .inputs h1{
    font-size: 30px;
    margin-bottom: 10px;
}

.bg-text .inputs form{
  padding-top: 100px;
}
.bg-text .inputs .input{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
}
.bg-text .inputs .input input{
  height: 43px;
  text-align: right;
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid #5856D6;
  border-radius: 10px;
  outline: none;
  color: #000000;
}

.inputs .footer{
  margin-top: 40px;
}
.inputs .footer button{
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  background: #0070ef;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 30px;
  /* box-shadow: 0 4px 8px 0 rgb(5, 86, 179), 0 6px 20px 0 rgb(4, 111, 234); */
  box-shadow: 1px 1px 10px 0px #007AFF;

}

button:active {
  transform: translate(0em, 0.2em);
}


@media (max-width:670px) {
  .bg-text{
    flex-direction: column;
  }
  .bg-text .logo-image{
    width: 170px;
    height: 170px;
    text-align: center;
  }
  .bg-text .inputs{
    width: 100%;
  }
}